[v-cloak] {
  display: none;
}

.flag {
  height: 1rem;
  vertical-align: -0.125em;
}

.border-top-bold {
  border-top-width: 5px !important;
}

.table-dark > tbody > tr > td.border-bottom {
  border-color: #373b3e !important;
}
